<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="userName"><%= @user.name %><h1>
      <p class="userBio"><%= @user.bio %>
    </div>
    <div class="col-sm-5">
      <% unless @user.avatar_url.nil? %>
        <%= image_tag @user.avatar_url, class:"userPhoto" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <p class="userPhone"><%= @user.phone %></p>
      <%= mail_to @user.email,(image_tag "email.png", class: "contact" )%>
      <%= link_to (image_tag "facebook.png", class: "contact" , class: "contact" ), @user.fb_link %>
      <%= link_to (image_tag "linkedin.png", class: "contact" ), @user.li_link %>
    </div>
    <div class="col-sm-5">
      <div class="editUser">
        <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>
