<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Photos</h1>
  <div class="row">

    <% @photos.each do |photo| %>
      <div class="col-sm-4">
        <% if photo.project_id == @project.id %>
          <%= image_tag photo.image_url(:display), class:"thumbnail" %>
          <% if current_user %>
            <p class="deletePicture">
              <%= link_to 'Delete Photo', delete_photo_url(@project, photo.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        <% end %>

      </div>
    <% end %>

  </div>

  </br>
  </br>
  <% if current_user == @project.user%>
    <%= link_to 'Edit Project', edit_project_path(@project) %> |
    <%= link_to 'New Photo', new_project_photo_path %> |
  <% end %>
  </br>
  </br>
</div>
